@import "../../global.scss";
@import "../../responsiveGlobal.scss";
.main {
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  @include spacing();
  .innermain {
    display: flex;
    flex-direction: column;
    left: auto;
    right: auto;
    align-items: center;

    .headline {
      font-size: 2.1rem;
      max-width: 50%;
      color: $primary-heading-color;
      margin-right: 250px;
    }
    .mainSubline {
      .subline {
        color: $secondary-subline-color;
        font-weight: 500;
        line-height: 1.5;
        padding: 30px 0;
        margin-right: 500px;
      }
    }
    .numberCardStyle {
    }
    .numberCardDiv {
      border: 1px solid gray;
      height: 200px;
      width: 200px;
    }
  }
}
@include for-phone-only {
  .main {
    .innermain {
      .headline {
        font-size: 2.1rem;
        padding: 4px;
        color: $primary-heading-color;
        margin-right: 0px;
        max-width: 100%;
      }
      .numberCardStyle {
        width: auto;
      }
    }
  }
}
