@import "../../../global.scss";
.outerWrapper {
  background-color: $card-backgound-color;
  @include heightWidth(600px, null);
  .innerWrapper {
    .subText {
      text-align: center;
      padding-bottom: 6px;
      padding-top: 10px;
      .text {
        font-family: $font-family-inter;

        font-size: 12px;
        line-height: 20px;
        color: $tertiary-font-color;
      }
    }
    .heading {
      margin-top: 8px;
      font-family: $font-family-inter;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      line-height: 20px;
      padding-bottom: 4px;
      color: $secondary-font-color;
      padding-top: 20px;
    }
    .cardWrapper {
      width: 1000px;
      align-items: center;
      align-self: center;
      display: flex;
      margin: auto;
      padding-top: 100px;
      column-gap: 24px;
      .cardContainer {
        @include heightWidth(null, 310px);
      }
    }
  }
}
