.outerWrapper {
  background-color: #f7f7f9;
  height: 600px;
  .innerWrapper {
    .subText {
      text-align: center;
      padding-bottom: 6px;
      padding-top: 10px;
      .text {
        font-family: "Inter", sans-serif;

        font-size: 12px;
        line-height: 20px;
        color: grey;
      }
    }
    .heading {
      margin-top: 8px;
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      line-height: 20px;
      padding-bottom: 4px;
      color: teal;
      padding-top: 20px;
    }
    .cardWrapper {
      width: 1000px;
      align-items: center;
      align-self: center;
      display: flex;
      margin: auto;
      padding-top: 100px;
      column-gap: 24px;
      .cardContainer {
        width: 310px;
      }
    }
  }
}
