@import "../../global.scss";
.mainn {
  // background-color: red;

  @include alignmentStyle(column, null);
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  .innermain {
    @include alignmentStyle(column, null);
  }

  .headline {
    font-size: 2.1rem;
    max-width: 50%;
    color: $primary-heading-color;
    margin-right: 250px;
  }
  .mainSubline {
    display: flex;
    justify-content: space-around;
    @include alignmentStyle(null, space-around);
    .subline {
      color: $secondary-subline-color;
      font-weight: 500;
      line-height: 1.5;
      padding: 30px 0;
    }
    .innerButton {
      border-radius: 40px;
      background-color: $secondary-background-color;
      color: $tertiary-font-color;
      border: 1px solid $tertiary-font-color;
      font-weight: lighter;
      @include alignmentStyle(null, center);
      padding: 9px 27px;
      & > :first-child {
        align-items: center;
      }
    }
  }
  .bottomMain {
    @include alignmentStyle(null, center);
    flex-wrap: nowrap;
    margin-top: 32px;
    width: 70rem;
    .innerBottom {
      flex: 50%;
      & > :first-child {
        height: 324px;
        margin-left: 24px;
        margin-bottom: 8px;
      }
      .RightBottom {
        flex: 50%;
      }
    }
  }
}
