@import "../../global.scss";
.main {
  background-color: $primary-background-color;
  .innerMain {
    @include alignmentStyle(null, space-between);
    .links {
      @include alignmentStyle(null, space-between);
      @include spacing();
      .navLogo {
        min-width: 30%;
        margin-left: 16px;
        .busin {
          font-size: 3rem;
          font-weight: 500;
          color: $primary-logo-color;
          font-family: $font-family-kanit;
          margin-right: 32px;
        }
      }
      .HeaderLink {
        //justify-content: space-between;
        margin: 12px 6px 6px 6px !important;
        font-family: $font-family-roboto;
      }
    }
    .rightSide {
      @include alignmentStyle(null, space-between);
      @include spacing();
      .innerRight {
        @include alignmentStyle(null, space-between);
        align-items: center;
      }
    }
  }
  .bottomMain {
    @include alignmentStyle(null, space-between);
    flex-wrap: nowrap;
    margin-top: 32px;
    .innerBottom {
      flex: 50%;
      & > :first-child {
        height: 324px;
        margin-left: 24px;
        margin-bottom: 8px;
      }
      .RightBottom {
        flex: 50%;
      }
    }
  }
}
