@import "../../global.scss";
.contentRight {
  min-width: 50%;
  text-align: left;
  .headline {
    font-size: 2.5rem;
    max-width: 80%;
    color: $primary-heading-color;
  }
  .subline {
    color: $secondary-subline-color;
    font-weight: 500;
    line-height: 1.5;
    padding: 30px 0;
  }
}
