@import "../../../global.scss";
.button {
  background-color: $button-color; /* Green */
  border: none;
  color: $secondary-background-color;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 28px;
  font-family: $font-family-roboto;
  font-weight: bold;
  .icon {
    & > :first-child {
      margin-top: -3px;
    }
  }
}
