@import "../../global.scss";
.mainCard {
  @include alignmentStyle(null, center);
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;

  .innermainCard {
    display: flex;
    align-items: center;
    left: auto;
    right: auto;
    .icon {
      color: $button-color;
    }
  }
}
