@import "../../../global.scss";
.numberCardDiv {
  @include alignmentStyle(row, space-between);
  margin-bottom: 100px;
  // row-gap: 24px;

  .halfbg {
    @include heightWidth(130px, 250px);
    border: 1px solid $border-color-white-shade;
    border-radius: 8px;
    @include alignmentStyle(column, null);
    margin-left: 20px;
    margin-right: 20px;
    background-color: $number-card-border-color;

    .innerDiv {
      position: relative;
      top: 22px;
      right: 0px;

      @include heightWidth(250px, 200px);
      border: 1px solid $border-color-white-shade;
      border-radius: 6px;
      @include alignmentStyle(column, space-between);
      column-gap: 12px;
      margin-left: 20px;
      margin-right: 20px;
      box-shadow: -1px 5px 2px 0px rgb(187, 185, 185);
      align-items: center;
      background-color: white;

      // height: 100px;
      // width: 100px;
      .imagMain {
        @include alignmentStyle(null, center);
        left: auto;
        right: auto;
        .innerimagMain {
          @include heightWidth(100px, 100px);
          margin-top: 20px;
          border-radius: 10px;
          margin-bottom: 12px;
        }
      }
      .title {
        font-size: 2.5rem;
        max-width: 50%;
        color: $font-color-number;
        font-weight: bold;
        margin-bottom: 12px;
      }
      .content {
        font-size: 10px;
        max-width: 50%;
        color: $font-color-number;
        margin-bottom: 12px;
      }
    }
    .innerDiv:hover {
      border: 2px solid $primary-border-color;
      border-radius: 6px;
      background-color: $border-color-gray-shade;
    }
  }
}
