@import "../../global.scss";
.cardContainer {
  .heading {
    margin-top: 8px;
    font-family: $font-family-inter;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    line-height: 20px;
    padding-bottom: 4px;
    color: $secondary-font-color;
    padding-top: 20px;
  }
  .subText {
    text-align: center;
    padding-bottom: 6px;
    padding-top: 10px;
    .text {
      font-family: $font-family-inter;
      font-size: 12px;
      line-height: 20px;
      color: $tertiary-font-color;
    }
  }
}
