.footer {
  // background-color: paleturquoise;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5fcff;
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  margin-top: 30px;
  justify-content: space-between;
  margin-left: 4px;
  .maindiv {
    display: flex;
    flex-direction: column;
    padding: 30px;
    .navLogo {
      min-width: 30%;
      margin-left: 16px;
      top: 0;
      .busin {
        font-size: 1.5rem;
        font-weight: 500;
        color: teal;
        font-family: "Kanit", sans-serif;
        margin-right: 32px;
      }
    }

    .textbox {
      background-color: white;
      width: 235px;
      height: 38px;
      border: 1px solid transparent;
      border-radius: 20px;
      display: flex;
      flex-direction: row;
      // justify-content: space-between;
      & > :first-child {
        padding-left: 6px;
        height: 30px;
        margin-left: 12px;
        border: 1px solid transparent;
        outline: none;
      }
      .icon {
        align-self: center;
        margin-right: -30px;
        cursor: pointer;
      }
      & > :first-child:hover,
      :focus {
        border: 1px solid transparent;
      }
      .arrow {
        height: 5px;
        width: 5px;
        color: gray;
        margin-left: 5px;
      }
    }

    .contents {
      font-family: "Inter", sans-serif;
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      padding-bottom: 4px;
      color: gray;
    }
  }
  .secondmain {
    display: flex;
    flex-direction: column;
    .headd {
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      line-height: 20px;
      padding-bottom: 4px;
      color: teal;
      margin-bottom: 6px;
    }
    .contents {
      font-family: "Inter", sans-serif;

      font-size: 12pxpx;
      text-align: center;
      line-height: 20px;
      padding-bottom: 4px;
      color: gray;
      margin-bottom: 8px;
    }
  }
}
