@import "../../../global.scss";
.card {
  @include heightWidth(auto, 250px);
  border: 1px solid rgb(238, 236, 236);

  box-shadow: 0.5px 1px darkgrey;
  border-radius: 6px;
  .innerWrapper {
    padding: 20px 20px;
    .imagelogo {
      border-radius: 50%;
      @include heightWidth(70px, 100px);
      margin-left: -20px;
    }
    .heading {
      font-size: 20px;
      max-width: fit-content;
      color: $card-header-color;
      font-weight: bold;
      margin-bottom: 8px;
      margin-top: 8px;
    }
    .content {
      font-size: 12px;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: $secondary-font-color;
      margin: 16px 0px;
    }
    .read {
      margin-top: 12px;
      display: flex;

      .innerRead {
        color: $tertiary-font-color;
        font-size: 14px;
        margin: 2px;
        font-size: bold;
      }
    }
    .arrow {
      @include heightWidth(5px, 5px);
      color: $tertiary-font-color;
      margin-left: 5px;
    }
  }
}
.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
