.card {
  width: 250px;
  height: auto;
  border: 1px solid rgb(224, 222, 222);

  box-shadow: 0.5px 1px darkgrey;
  border-radius: 6px;
  .innerWrapper {
    padding: 50px 20px;
    .heading {
      font-size: 20px;
      max-width: fit-content;
      color: rgb(12, 56, 56);
      font-weight: bold;
      margin-bottom: 8px;
      margin-top: 8px;
    }
    .content {
      font-size: 12px;
      max-width: -moz-fit-content;
      max-width: fit-content;
      color: teal;
      margin: 16px 0px;
    }
    .read {
      margin-top: 12px;
      display: flex;

      .innerRead {
        color: gray;
        font-size: 14px;
        margin: 2px;
        font-size: bold;
      }
    }
    .arrow {
      height: 5px;
      width: 5px;
      color: gray;
      margin-left: 5px;
    }
  }
}
